.header{
    font-size: 0.6rem;
    text-align: center;
    background-color: #eeeeee;
    height: 2rem;
    line-height: 2rem;
    box-sizing: border-box;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}
.more{
    position: absolute;
    right: 0.5rem;
    color: #bdbdbd;
}