a.itemWrap{
    height: 100%;
    flex-grow: 1;
    text-align: center;
    
}
img.itemImg{
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 0 auto;
    padding: 0.55rem 0rem 0.75rem;
}
span.itemTitle{
    font-size: 0.65rem;
    padding-bottom: 0.85rem;
    display: block;
}